.about-content-section {
  background: #ffffff;
  padding: 4rem 0;
}

.about-content-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 1rem;
}

.about-content-wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.about-content-left {
  flex: 1;
}

.about-content-title {
  font-size: 36px;
  background: linear-gradient(90deg, #4168FC 0%, #72C0FE 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 100%;
  margin: 0 0 16px 0;
  width: 80%;
  font-family: var(--font-gilroy);
  font-weight: 600;
}

.about-content-right {
  flex: 1;
}

.about-content-description {
  font-size: 20px;
  font-weight: 400;
  color: #49484D;
  line-height: 100%;
  margin: 0 0 24px 0;
  font-family: var(--font-gilroy);
}

.about-content-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.about-content-button {
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: capitalize;
  font-family: var(--font-gilroy);
}

.about-content-button.primary {
  background: linear-gradient(90deg, #4067FC 0%, #60B8FF 100%);
  color: #ffffff;
}


.about-content-button.secondary {
  background: #eef2f6;
  color: #262525;
}


/* Responsive Design */
@media screen and (max-width: 768px) {
  .about-content-section {
    padding: 3rem 0;
  }
  
  .about-content-container {
    padding: 0 0.75rem;
  }
  
  .about-content-wrapper {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
  
  .about-content-left {
    flex: 1;
  }
  
  .about-content-title {
    font-size: 24px;
    width: 100% !important;
    font-family: var(--font-gilroy);
    font-weight: 600;
  }
  
  .about-content-description {
    font-size: 16px;
    font-family: var(--font-gilroy);
    color: #49484D;
  }
  
  .about-content-button{
    width: 100%;
  }
  .about-content-button.secondary {
    background: #eef2f6;
  }
  
  
  .about-content-buttons {
    flex-direction: column;
  }
}
