.case-studies-stats-section {
  background-color: #F8F8FA;
  padding:30px 0;
}

.case-studies-stats-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.case-studies-stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  align-items: center;
  justify-items: center;
}

.case-studies-stat-item {
  text-align: center;
  display: flex;
  flex-direction: colmn;
  align-items: center;
  gap: 8px;
}

.case-studies-stat-number {
  font-size: 48px;
  font-weight: 700;
  color: #49484D;
  line-height: 100%;
  margin-bottom: 4px;
  font-family: var(--font-gilroy);
}

.case-studies-stat-label {
  font-size: 16px;
  color: #49484D;
  line-height: 100%;
  font-weight: 400;
  text-align: left;
  font-family: var(--font-gilroy);
}


@media (max-width: 768px) {
  .case-studies-stats-section {
    padding: 20px 0;
  }
  
  .case-studies-stats-container {
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .case-studies-stats-grid {
    grid-template-columns: none;
    gap: 32px;
    row-gap: 20px;
    width: 100%;
  }
  
  .case-studies-stat-item {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #e2e8f0;
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .case-studies-stat-item:last-child {
    border-bottom: none;
  }
  
  .case-studies-stat-number {
    font-size: 48px;
    font-family: var(--font-gilroy);
    font-weight: 700;
  }
  
  .case-studies-stat-label {
    font-size: 16px;
    text-align: center;
    font-family: var(--font-gilroy);
    color: #49484D;
  }
}

