

.stats-section {
  padding: 2rem 0;
  background-color:#f8f8fa;
}

.stats-container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}



.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.stat-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: transform 0.3s ease-in-out;
}

.stat-item:hover {
  transform: scale(1.05);
}


.home-stat-number {
  font-size: 48px;
  font-weight: 600;
  font-family: var(--font-gilroy);
  color: #49484D;
  line-height: 100%;
  flex-shrink: 0;
}

.stat-text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: #49484D;
}


.stat-sublabel {
  font-size: 0.875rem;
  color: #6b7280;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .stats-section {
    padding: 0rem 0;
  }
  
  .stats-container {
    padding: 0 0rem;
  }
  
  .stats-grid {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
  }
  
  .stat-item {
    width: 100%;
    padding: 1.5rem;
  }
  
  /* Add bottom border to first and second stat items only */
  .stat-item:nth-child(1),
  .stat-item:nth-child(2) {
    border-bottom: 1px solid #e5e7eb;
  }

  .home-stat-number {
    font-size: 48px;
    font-weight: 700;
    font-family: var(--font-gilroy);
    text-align: center;
  }
  .stat-text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    color: #49484D;
  }
}
