@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";


@theme {
  --font-gilroy: var(--font-gilroy);
  --color-nav-text: #676666;
  --color-nav-text-active: #49484D;
  --color-primary-blue: #4f46e5;
  --color-primary-blue-hover: #4338ca;
  --color-accent-red: #ef4444;
  --color-accent-red-hover: #dc2626;
  --color-avatar-text:#7c7d82;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --radius: 0.5rem;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
